<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="utf-8">
  <title>My great Twitter app</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
  <div class="tweetEntry-tweetHolder">
    <h1 class="tweetEntry" style="margin-bottom:0px;">Pure CSS twitter post layout.</h1>

    <!-- Entry with Media turned on. -->
    <div class="tweetEntry">

      <div class="tweetEntry-content">

        <a class="tweetEntry-account-group" href="[accountURL]">

          <img class="tweetEntry-avatar" src="http://placekitten.com/200/200">

          <strong class="tweetEntry-fullname">
            [fullname]
          </strong>

          <span class="tweetEntry-username">
            @
            <b>[username]</b>
          </span>

          <span class="tweetEntry-timestamp">- [timestamp]</span>

        </a>

        <div class="tweetEntry-text-container">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quam ipsum, finibus ac est sed, vestibulum condimentum neque.
          Sed eget iaculis.
        </div>

      </div>

      <div class="optionalMedia">
        <img class="optionalMedia-img" src="http://placekitten.com/500/400">
      </div>

      <div class="tweetEntry-action-list" style="line-height:24px;color: #b1bbc3;">
        <i class="fa fa-reply" style="width: 80px;"></i>
        <i class="fa fa-retweet" style="width: 80px"></i>
        <i class="fa fa-heart" style="width: 80px"></i>
      </div>

    </div>

    <!-- Entry with Media turned off. -->
    <div class="tweetEntry">

      <div class="tweetEntry-content">

        <a class="tweetEntry-account-group" href="[accountURL]">

          <img class="tweetEntry-avatar" src="http://placekitten.com/100/100">

          <strong class="tweetEntry-fullname">
            [fullname]
          </strong>

          <span class="tweetEntry-username">
            @
            <b>[username]</b>
          </span>

          <span class="tweetEntry-timestamp">- [timestamp]</span>

        </a>

        <div class="tweetEntry-text-container">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quam ipsum, finibus ac est sed, vestibulum condimentum neque.
          Sed eget iaculis.
        </div>

      </div>

      <div class="optionalMedia" style="display:none;">
        <img class="optionalMedia-img" src="https://i.imgur.com/kOhhPAk.jpg">
      </div>

      <div class="tweetEntry-action-list" style="line-height:24px;color: #b1bbc3;">
        <i class="fa fa-reply" style="width: 80px;"></i>
        <i class="fa fa-retweet" style="width: 80px"></i>
        <i class="fa fa-heart" style="width: 80px"></i>
      </div>

    </div>

    <!-- Entry with Media turned on. -->
    <div class="tweetEntry">

      <div class="tweetEntry-content">

        <a class="tweetEntry-account-group" href="[accountURL]">

          <img class="tweetEntry-avatar" src="http://placekitten.com/150/150">

          <strong class="tweetEntry-fullname">
            [fullname]
          </strong>

          <span class="tweetEntry-username">
            @
            <b>[username]</b>
          </span>

          <span class="tweetEntry-timestamp">- [timestamp]</span>

        </a>

        <div class="tweetEntry-text-container">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quam ipsum, finibus ac est sed, vestibulum condimentum neque.
          Sed eget iaculis.
        </div>

      </div>

      <div class="optionalMedia">
        <img class="optionalMedia-img" src="http://placekitten.com/600/400">
      </div>

      <div class="tweetEntry-action-list" style="line-height:24px;color: #b1bbc3;">
        <i class="fa fa-reply" style="width: 80px;"></i>
        <i class="fa fa-retweet" style="width: 80px"></i>
        <i class="fa fa-heart" style="width: 80px"></i>
      </div>

    </div>

    <!-- Template Entry -->
    <div class="tweetEntry">

      <div class="tweetEntry-content">

        <a class="tweetEntry-account-group" href="[userURL]">

          <img class="tweetEntry-avatar" src="[avatarSource]">

          <strong class="tweetEntry-fullname">
            [displayName]
          </strong>

          <span class="tweetEntry-username">
            @
            <b>[username]</b>
          </span>

          <span class="tweetEntry-timestamp">- [date]</span>

        </a>

        <div class="tweetEntry-text-container">
          [text]
        </div>

      </div>

      <div class="optionalMedia" style="[displayMedia]">
        <img class="optionalMedia-img" src="[tweetImageLinkSource]">
      </div>

      <div class="tweetEntry-action-list" style="line-height:24px;color: #b1bbc3;">
        <i class="fa fa-reply" style="width: 80px;"></i>
        <i class="fa fa-retweet" style="width: 80px"></i>
        <i class="fa fa-heart" style="width: 80px"></i>
      </div>

    </div>

    <!--End of tweetHolder-->
  </div>
</body>

</html>